@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Montserrat;
    src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
}





* {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;

}

.colBox .box ul li {
    background-image: url(./assets/checkIcon.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-position-y: 5px;
    padding-left: 40px;
    background-size: 30px;
    line-height: 1.3em;
    font-size: 16px;
    margin-top: 10px;
    color: #eeeeee;
}

.slick-slide>div {
    margin: 0 20px;
    margin-left: 0;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 28px !important;
    line-height: 1;
    opacity: .75;
    color: #fff !important;
    background: #000;
    border-radius: 50%;
}

.slick-prev {
    left: -50px !important;
}

.slick-next {
    right: -50px !important;
}

.testCols .slick-dots {
    display: none !important;
}

.subBtn {
    transition: all ease 5s;
}

.subBtn::before {
    content: " ";
    position: absolute;
    top: -1px;
    left: 0;
    width: 00%;
    height: 2px;
    background: #fff;
    transition: all ease 0.5s !important;
}
.subBtn::after {
    content: " ";
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: all ease 0.5s !important;
}
.subBtn:hover::after {
    content: " ";
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: all ease 0.5s !important;
}
.subBtn:hover::before {
    content: " ";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: all ease 0.5s !important;
}

.mssgBtn{
    transition: all ease 0.5s;
}
.slideCol{
    display: flex !important;
}
.CaseStudieSlider-container .slick-dots {
    display: none !important;
}
input, textarea{
    color: #fff;
}

.nav ul.open{
    display: flex;
}


.gotopBtn svg{
  animation: gotop 1.2s linear infinite alternate-reverse;
}

@keyframes gotop{

0% {
    transform: translateY(-0.2rem);
}
100% {
    transform: translateY(0.2rem);
}

}

@media (320px <= width <=800px) {

    .slick-prev:before,
    .slick-next:before {
        display: none;
    }

   .testCols .slick-dots {
        display: block !important;
    }
    .CaseStudieSlider-container .slick-dots {
        display: block !important;

    }
}